// public/scss/components/_cards.scss

#book-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 30px;
    max-width: 1400px;
    margin: 0 auto;
}

.book-card {
    position: relative; // Необходимо для позиционирования значка
    background-color: var(--surface-color);
    border-radius: var(--border-radius);
    overflow: hidden;
    transition: transform var(--transition-speed),
        box-shadow var(--transition-speed);
    cursor: pointer;
    border: 1px solid var(--border-color);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);

    &:hover {
        transform: translateY(-5px);
        box-shadow: var(--box-shadow);
    }
}

.book-cover {
    width: 100%;
    height: 350px;
    object-fit: cover;
    display: block;
    border-bottom: 1px solid var(--border-color);
}

.book-info {
    padding: 15px;
}

.book-title {
    font-size: 1rem;
    font-weight: 700;
    margin: 0 0 5px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.book-author {
    font-size: 0.9rem;
    color: var(--text-secondary);
    margin: 0 0 10px 0;
}

.book-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
}

.book-rating {
    color: var(--text-secondary);
    font-weight: 500;
}

.book-status {
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: 500;
    background-color: rgba(0, 163, 145, 0.1);
    color: var(--primary-color);
}

.book-card-location {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(2px);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
    color: var(--text-primary);
}

.book-cover-placeholder {
    width: 100%;
    height: 350px; /* Та же высота, что и у обычной обложки */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(135deg, #e0c3fc 0%, #8ec5fc 100%);
    color: #fff;
    font-family: var(--font-header);
    border-bottom: 1px solid var(--border-color);

    h3 {
        font-size: 1.5rem;
        padding: 20px;
        margin: 0;
        color: #fff;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
}
